body {
	background-color: $gm-gray-light-color;
}
.wrapper {
	width: 100%;
	max-width: 192rem;
	margin: 0 auto;
}
.gm-logo {
	max-width: 17.5rem;
	margin: 0 auto 3.2rem;
	display: flex;
	align-items: center;
	padding: 1.2rem;
	border-radius: 1.2rem;
	color: white;
	background-color: $gm-primary-color;
}
